{% block fast_order_articles %}
    {% if articles %}
    <div id="fast-order-articles">
        <ul>
            {% for article in articles %}
                <li>
                    <a href="#" class="fast-order-link"
                       data-id="{{ article.number }}" data-name="{{ article.name }}" data-price="{{ article.price }}">

                        <div class="row">

                            <div class="col-2 mt-2 mb-2">
                                <img src="{{ article.media.url }}" class="img-fluid img-thumbnail " alt="" />
                            </div>

                            <div class="col-7 mt-2 mb-2">

                                <div class="row">
                                   <div class="col-auto">
                                        <span class="fw-bold">
                                        {{ article.name }}
                                        </span>
                                   </div>
                                </div>

                                <div class="row">
                                   <div class="col-auto">
                                       <span>Product number: </span>{{ article.number }}
                                   </div>
                                </div>

                                {% if article.options %}
                                <div class="row">
                                   <div class="col-auto">
                                        {% for option in article.options %}
                                            {{ option.name }}
                                        {% endfor %}
                                   </div>
                                </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-auto">
                                        <span>{{ currency }}</span>{{ article.price }}
                                    </div>
                                </div>

                            </div>

                        </div>

                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
